label{
    color: white;
}

select.form-select {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center; 
    background-size: 1rem; 
    padding-right: 2rem; 
  }

 div{
  background: linear-gradient(90deg, rgba(40, 180, 131, 0.8),rgba(68, 68, 117, 0.8));
    
}

button{
  justify-content: space-around;
}

.section-header {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
.button-icon {
  margin-left: 8px; /* Adjust as needed */
}
