node_modules
/server/.venv
/server/__pycache__
*.pyc
volunteer-web-app/node_modules/webpack/lib/WebpackOptionsApply.js
volunteer-web-app/node_modules/webpack/lib/webpack.js
volunteer-web-app/node_modules/webpack/lib/index.js
volunteer-web-app/node_modules/vite/bin/vite.js
volunteer-web-app/node_modules/@angular/cli/bin/ng.js
