
div {
    margin-top: 0%;
    // display: flex;
    // justify-content: center;
    // width: 90%;
    // margin: .5px;
    
    // border-radius: 10px;
    // margin-bottom: 1rem;
    // bottom: 1rem;
    height: 90%;
    margin-bottom: 1rem;
    
    
}
// .div{
//     padding-bottom: 5rem; 
// }
mat-error {
    background-color: black;
}

form {
    bottom: 10rem;
    // height: 90%;
    margin-bottom: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 7rem;
    width: auto;
    margin-top: 0rem;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(68, 68, 117, 0.8),rgba(40, 180, 131, 0.8));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


input[type="text"],input[type="textarea"],
input,select ,option,textarea{
    background-color: white; 
    color: black; 
}



input[type="checkbox"] {
    background-color: white; 
}

label {
    min-width: 100px;
    color: white;
}

button {
    width: 40%;
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 100%;
}

button:hover {
    transform: scale(1.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(44, 44, 91, 0.8);
}

button:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

h1 {
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.custom-select-control {
    select.form-control {
      background-color: white; 
      color: black; 
      width: 200px; 
      height: 38px; 
      padding: 0.375rem 0.75rem; 
      box-sizing: border-box; 
    }

  
    select.form-control:focus {
      outline: none; 
      box-shadow: none; 
      border: 1px solid #ced4da; 
    }
  
    .dropdown-menu {
      background-color: white;
    }
  
    option:hover {
      background-color: #f0f0f0;
    }
  }
  
  

  
