<div class="container mt-4">
  <h2 class="mb-4 text-center section-header"><strong>Volunteer History</strong></h2>

  <!-- Search Input -->
  <form>
    <div class="mb-3 row" style="background: initial;">
      <label for="table-filtering-search" class="col-sm-auto col-form-label">Search Volunteer or Event:</label>
      <div class="col-sm-auto" style="all: initial;">
        <input id="table-filtering-search" class="form-control blackb" placeholder="Search by volunteer name or event" type="text" [formControl]="searchControl" />
      </div>
    </div>
  </form>
  <br><br>
  <div *ngIf="filteredHistory.length > 0; else noHistory" style="background: initial;">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let history of paginatedHistory(); let i = index" [expanded]="i === 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>account_circle</mat-icon>
            <span >Name: {{ history.full_name }}</span><span class="user-email"> (ID: {{ history.user_email }})  </span> 
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>event</mat-icon>{{ history.events.length }} Events
          </mat-panel-description>
        </mat-expansion-panel-header>

       
        <table class="table table-striped table-hover styled-table">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Event Name</th>
              <th>Event Description</th>
              <th>Location</th>
              <th>Required Skills</th>
              <th>Urgency</th>
              <th>Date</th>
              <!-- <th>Hours</th>
              <th>Status</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Event of history.events; let j = index">
              <td>{{ j + 1 }}</td>
              <td>{{ Event.event.eventName }}</td>
              <td>{{ Event.event.eventDescription }}</td>
              <td>{{ Event.event.location }}</td>
              <td>{{ Event.event.requiredSkills.join(', ') }}</td>
              <td>{{ Event.event.urgency }}</td>
              <td>{{ Event.event.eventDate | date:'fullDate' }}</td>
              <!-- <td>{{ Event.participation_hours }}</td>
              <td>{{ Event.participation_status }}</td> -->
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Pagination -->
    <div class="d-flex mt-4" style="background: initial;">
      <ngb-pagination 
        [collectionSize]="filteredHistory.length" 
        [(page)]="page" 
        [pageSize]="pageSize" 
        [maxSize]="5" 
        [boundaryLinks]="true">
      </ngb-pagination>
    </div>
  </div>

  <ng-template #noHistory>
    <section class="alert alert-warning text-center" role="alert">
      No volunteering history available.
    </section>
  </ng-template>
  <br>
  <br>
</div>
