<div>
  <form (ngSubmit)="onSubmit()">
    <h1><span><i class="fas fa-user-plus fa-3x"></i></span></h1>

    <!-- Email Input -->
    <div class="mb-4 d-flex align-items-center">
      <label class="form-label me-3" for="email" style="min-width: 100px;">Email address:</label>
      <input
        type="email"
        id="email"
        class="form-control flex-grow-1"
        [formControl]="email"
      />
      <mat-error *ngIf="isFieldInvalid(email)">
        <span *ngIf="email.errors?.['required']">Email is required.</span>
        <span *ngIf="email.errors?.['email']">Enter a valid email address.</span>
        <span *ngIf="email.errors?.['maxlength']">Email must be under 100 characters.</span>
      </mat-error>
    </div>

    <!-- Password Input -->
    <div class="mb-4 d-flex align-items-center">
      <label class="form-label me-3" for="password" style="min-width: 100px;">Password:</label>
      <input
        type="password"
        id="password"
        class="form-control flex-grow-1"
        [formControl]="password"
      />
      <mat-error *ngIf="isFieldInvalid(password)">
        <span *ngIf="password.errors?.['required']">Password is required.</span>
        <span *ngIf="password.errors?.['minlength']">Password must be at least 8 characters long.</span>
      </mat-error>
    </div>

    <!-- Remember Me Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        id="Remember"
        [checked]="true"
      />
      <label class="form-check-label" for="Remember">Remember me</label>
    </div>

    <!-- Sign Up Button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
    <p class="white">Do you have an account? <a href="/login"><strong class="yellow"> Login</strong></a></p>
  </form>
</div>
