
input[type="email"],
input[type="password"] {
    background-color: white; 
    color: black; 
}


div {
    display: flex;
    justify-content: center;
    width: 100%; 
    
    margin: 2rem auto; 
    
    border-radius: 10px; 
}



form {
    padding: 1rem;
    max-width: 30rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(126, 213, 111, 0.8),rgba(40, 180, 131, 0.8));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


input[type="checkbox"] {
    background-color: transparent; 
}
label{
    min-width: 100px;
    color: black;
}

p{
    display: block;
    margin: 1rem auto;
    text-align: center;
}

button {
    width: 50%;
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border-color: black;
    border-radius: 10rem;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    transition: all 0.5s ease-in-out; 
}


button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 100%;
}


button:hover {
    transform: scale(1.3); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    background-color: #0056b3; 
}


button:hover::before {
    transform: translate(-50%, -50%) scale(1); 
    opacity: 0; 
}

h1{
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}