<div><h1>User registration</h1></div>
<div>
    <form>
        
        <div class="mb-4 d-flex align-items-center">
            <label mdbLabel class="form-label me-3" for="email">Email address</label>
            <mdb-form-control class="flex-grow-1">
                <input mdbInput type="email" id="email" class="form-control" placeholder="Email" />
            </mdb-form-control>
        </div>
        
        
        <div class="mb-4 d-flex align-items-center">
            <label mdbLabel class="form-label me-3" for="password">Password</label>
            <mdb-form-control class="flex-grow-1">
                <input mdbInput type="password" id="password" class="form-control" name="password"   placeholder="Password"/>
            </mdb-form-control>
        </div>

        
        <div class="form-check d-flex justify-content-center mb-4">
            <input
                mdbCheckbox
                class="form-check-input me-2"
                type="checkbox"
                id="Remember"
                [checked]="true"
            />
            <label class="form-check-label" for="Remember">
                Remember me
            </label>
        </div>

        
        <button mdbRipple type="button" class="btn btn-primary btn-block mb-4">Sign up</button>
    </form>
</div>
