
input[type="email"],
input[type="password"] {
    background-color: white; 
    color: black; 
}


div {
    display: flex;
    justify-content: center;
    width: 100%; 
    
    margin: 2rem auto; 
    
    border-radius: 10px; 
}



form {
    padding: 1rem;
    max-width: 30rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(68, 68, 117, 0.8),rgba(40, 180, 131, 0.8));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


input[type="checkbox"] {
    background-color: transparent; 
}
label{
    min-width: 100px;
    color: white;
}

p{
    display: block;
    margin: 1rem auto;
    text-align: center;
}

// button {
//     width: 30%;
//     display: block;
//     margin: 1rem auto;
//     padding: 1rem;
//     background-color: #007bff;
//     color: white;
//     border-color: black;
//     border-radius: 10rem;
//     cursor: pointer;
//     position: relative;
//     overflow: hidden; 
//     transition: all 0.5s ease-in-out; 
// }
.white{
    color: white;
}
.yellow{
    color:yellow
}

// button::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 300%;
//     height: 300%;
//     background: rgba(255, 255, 255, 0.3);
//     transform: translate(-50%, -50%) scale(0);
//     transition: transform 0.5s ease-in-out;
//     border-radius: 100%;
// }


// button:hover {
//     transform: scale(1.3); 
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
//     background-color: rgba(44, 44, 91, 0.8);
// }

.span{
    color:black;
}
// button:hover::before {
//     transform: translate(-50%, -50%) scale(1); 
//     opacity: 0; 
// }

h1{
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.buttonCancel{
    display:inline-block;
    padding: 0.65rem 1.35rem;
    font-size: 1rem;
    text-align: center;
    cursor:pointer;
    border:none;
    background-color: red;
    color: white;
    margin-left: 1.5rem;
}
.buttonLogin{
    display:inline-block;
    padding: 0.65rem 1.35rem;
    font-size: 1rem;
    text-align: center;
    cursor:pointer;
    border:none;
    background-color: green;
    color: white;
}
.buttonLogin:hover{
    background-color: gray;
}
.icon{
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}
.buttonCancel:hover{
    background-color: gray;
}
.buttonLogin:hover .icon{
    transform: translate(4px);

}
.buttonCancel:hover .iconC{
    transform: translate(-4px);

}

.iconC{
    display: inline-block;
    margin-right: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

