
input[type="email"],
input[type="password"] {
    background-color: white; 
    color: black; 
}


div {
    display: flex;
    justify-content: center;
    width: 100%; 
    
    margin: 2rem auto; 
    
    border-radius: 10px; 
}



form {
    padding: 1rem;
    max-width: 30rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(68, 68, 117, 0.8),rgba(40, 180, 131, 0.8));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


input[type="checkbox"] {
    background-color: transparent; 
}
label{
    min-width: 100px;
    color: white;
}

p{
    display: block;
    margin: 1rem auto;
    text-align: center;
}


.white{
    color: white;
}
.yellow{
    color:yellow
}



.span{
    color:black;
}

h1{
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.buttonCancel{
    display:inline-block;
    padding: 0.65rem 1.35rem;
    font-size: 1rem;
    text-align: center;
    cursor:pointer;
    border:none;
    //background-color: red;
    color: white;
    margin-left: 1.5rem;
}
.buttonLogin{
    display:inline-block;
    padding: 0.65rem 1.35rem;
    font-size: 1rem;
    text-align: center;
    cursor:pointer;
    border:none;
    //background-color: green;
    color: white;
}
.buttonLogin:hover{
    background-color: gray;
}
.icon{
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}
.buttonCancel:hover{
    background-color: gray;
}
.buttonLogin:hover .icon{
    transform: translate(4px);

}
.buttonCancel:hover .iconC{
    transform: translate(-4px);

}

.iconC{
    display: inline-block;
    margin-right: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

