
header{
  padding-top: 0.5rem;
  margin-left: 1rem;
  margin-right:1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to bottom,   #202123, #04AA6D);
}

.whitecolor{
  color: white;
  display: block;
  margin-top: 1rem;
  padding-left: 10px;
}
li {
  float: left;
}
li:last-child{
  float:right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover:not(.active) {
  background-color: gray;
  text-decoration: none;
  color:white;
  cursor: pointer;
 
}



li a.active {
  background-color: black; 
  color: white; 
  text-decoration: none;
}

/* When the item is both active and hovered */
li a.active:hover {
  background-color: black; 
  text-decoration: none;
  color: white;
}
a{
color:white;
}


.header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-menu-item {
  position: relative;
  margin-right: 15px;
}

.user-name {
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.header-dropdown-item {
  padding: 5px 10px;
}

.header-dropdown-item a {
  text-decoration: none;
  color: black;
}

.header-dropdown-item a:hover {
  text-decoration: underline;
}

/* Show the dropdown when dropdownOpen is true */
.header-menu-item.dropdown .header-dropdown-menu {
  display: block;
}

