<header >
    <ul style="gap: 10px;">
        <!-- Always visible links -->
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span><i class="bi bi-house-fill"></i></span> Home</a></li>
        <!-- <li><a routerLink="/volunteer-opportunities"><span><i class="bi bi-bag"></i></span> </a></li> -->
        <li><a routerLink="/userEvent" routerLinkActive="active"><span><i class="bi bi-calendar-event"></i></span> Volunteer Opportunities</a></li>
        <!-- <li><a routerLink="/contact-us"><span><i class="bi bi-telephone-outbound-fill"></i></span> Contact Us</a></li> -->

        <!-- Show 'My Profile' link if the user is logged in -->
        <li *ngIf="authService.getIsLoggedIn()">
            <a [routerLink]="['/profile']" (click)="navigateToProfile()" routerLinkActive="active"><span><i class="bi bi-person-lines-fill"></i></span> My Profile</a>
        </li>

        <!-- <li *ngIf="authService.getIsLoggedIn() && userFullName ">
            <span><i class="bi bi-person-circle"></i></span> Welcome, {{ userFullName }} <span><mat-icon class="dropdown-icon ">arrow_drop_down</mat-icon></span>

        </li> -->
        
        <li *ngIf="authService.getIsLoggedIn() && userFullName && authService.getUserRole() === 'user'" class="yellowcolor" style="padding-left: 200px;">
            <div class="user-info" >
                
                <span class="welcome-text">
                   <i>Hi, {{ userFullName }}</i> 
                </span>
                
            </div>

        </li>
        <!-- <span><i class="bi bi-person-circle"></i></span> -->
        <!-- Show the 'Dashboard' link only if logged in and the role is 'admin' -->
        <li *ngIf="authService.getIsLoggedIn() && authService.getUserRole() === 'admin'">
            <a routerLink="/admin" routerLinkActive="active"><span><i class="bi bi-speedometer"></i></span> Dashboard</a>
        </li>

        <!-- Show 'Login' link if not logged in -->
        <li *ngIf="!authService.getIsLoggedIn()">
            <a routerLink="/login" routerLinkActive="active"><span><i class="bi bi-box-arrow-in-right"></i></span> Login</a>
        </li>

        <!-- Show 'Sign Up' link if not logged in and not on the register page -->
        <li *ngIf="!authService.getIsLoggedIn() && !isRegisterPage">
            <a routerLink="/register" routerLinkActive="active"><span><i class="bi bi-box-arrow-right"></i></span> Sign Up</a>
        </li>

        <!-- Show 'Logout' link if logged in -->
        <li *ngIf="authService.getIsLoggedIn()">
            <a (click)="logout()"><span ><i class="bi bi-box-arrow-left"></i></span> Logout</a>
        </li>
        
    </ul>
</header>
