<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" [(opened)]="sidenavOpened">
    <h2 class="sidenav-title">Menu</h2>
    <ul class="sidenav-menu">
      <li [class.active]="selectedLink === 'home'">
        <a routerLink="/admin" routerLinkActive="active-link" class="menu-link" (click)="selectLink('home', false)">
          <span><i class="bi bi-speedometer2"></i></span> DASHBOARD
        </a>
      </li>

      <!-- Users Menu with Submenu -->
      <li [class.active]="selectedLink === 'users'">
        <a class="menu-link " (click)="toggleUsersMenu();selectLink('users', false)">
          <i class="fas fa-users"></i> Users
        </a>
        <ul class="submenu" *ngIf="isUsersMenuOpen">
          <li [class.active]="selectedLink === 'manageUser'">
            <a routerLink="manageUser" routerLinkActive="active-link" (click)="selectLink('manageUser', false)">
              <i class="fas fa-user-plus"></i> User Management
            </a>
          </li>
          <li [class.active]="selectedLink === 'volunteerHistory'">
            <a routerLink="volunteerHistory" routerLinkActive="active-link" (click)="selectLink('volunteerHistory', false)">
              <i class="fas fa-history"></i> Volunteering History
            </a>
          </li>
        </ul>
      </li>

      <!-- Events Menu with Submenu -->
      <li [class.active]="selectedLink === 'events'">
        <a class="menu-link" (click)="toggleEventsMenu();selectLink('events', false)">
          <i class="fas fa-calendar-plus"></i> Events
        </a>
        <ul class="submenu" *ngIf="isEventsMenuOpen">
          <li [class.active]="selectedLink === 'newEvent'">
            <a routerLink="newEvent" routerLinkActive="active-link" (click)="selectLink('newEvent', false)">
              <i class="fas fa-calendar-plus"></i> Create Event
            </a>
          </li>
          <li [class.active]="selectedLink === 'allEvents'">
            <a routerLink="events" routerLinkActive="active-link" (click)="selectLink('events', false)">
              <i class="fas fa-list"></i> All Events
            </a>
          </li>
          <!-- <li [class.active]="selectedLink === 'eventHistory'">
            <a routerLink="eventHistory" routerLinkActive="active-link" (click)="selectLink('eventHistory', false)">
              <i class="fas fa-history"></i> Event History
            </a>
          </li> -->
          <li [class.active]="selectedLink === 'matchVolunteers'">
            <a routerLink="matchVolunteers" routerLinkActive="active-link" (click)="selectLink('matchVolunteers', false)">
              <i class="fas fa-history"></i> Match Volunteers
            </a>
          </li>
        </ul>
      </li>

      <!-- Logout Menu Item -->
      <!-- <li [class.active]="selectedLink === 'logout'">
        <a (click)="logout()" class="menu-link" (click)="selectLink('logout', true)">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li> -->
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="admin-header">
      <h2 class="dashboard-title">
        DASHBOARD
        <div class="user-menu">
          <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
            <img src="group35.jpg" alt="User" class="profile-pic" />
            <span class="user-name">Admin {{ userName }}</span><span><mat-icon class="dropdown-icon">arrow_drop_down</mat-icon></span>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="viewProfile()">Profile</button>
            <button mat-menu-item (click)="logout()"><span><i class="fas fa-sign-out-alt"></i></span> Logout</button>
          </mat-menu>
        </div>
      </h2>
    </div>
    
    
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>
