<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" [(opened)]="sidenavOpened">
    <!-- <h2 class="sidenav-title">Menu</h2> -->
     
     <div class="image-container">
      <img src="gicon.jpg" alt="menu icon" class="imgm">
    </div>
    <br>
    
    
    <ul class="sidenav-menu">
      <li [class.active]="selectedLink === 'home'"matRipple   [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
      [matRippleCentered]="true"
      
      >
        <a routerLink="/admin" routerLinkActive="active-link" class="menu-link" (click)="selectLink('home', false)" >
          <span><i class="bi bi-speedometer2 menu-icon"></i></span> DASHBOARD
        </a>
      </li>

      <!-- Users Menu with Submenu -->
      <li [class.active]="selectedLink === 'users'" >
        <a class="menu-link" (click)="toggleUsersMenu();selectLink('users', false)" matRipple >
          <mat-icon>{{ isUsersMenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          <i class="fas fa-users menu-icon"></i> Users
        </a>
        <ul class="submenu" [class.open]="isUsersMenuOpen">
          <li [class.active]="selectedLink === 'manageUser'" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
          [matRippleCentered]="true">
            <a routerLink="manageUser" routerLinkActive="active-link" (click)="selectLink('manageUser', false)" >
              <i class="fas fa-user-plus menu-icon"></i> User's Profiles
            </a>
          </li>
          <li [class.active]="selectedLink === 'matchVolunteers'" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
          [matRippleCentered]="true">
            <a routerLink="matchVolunteers" routerLinkActive="active-link" (click)="selectLink('matchVolunteers', false)" >
              <i class="fas fa-user-plus menu-icon"></i> Volunteer Matchings
            </a>
          </li>
          <li [class.active]="selectedLink === 'volunteerHistory'" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
          [matRippleCentered]="true">
            <a routerLink="volunteerHistory" routerLinkActive="active-link" (click)="selectLink('volunteerHistory', false)" >
              <i class="fas fa-history menu-icon"></i> Volunteering History
            </a>
          </li>
        </ul>
      </li>

      <!-- Events Menu with Submenu -->
      <li [class.active]="selectedLink === 'events'" >
        <a class="menu-link" (click)="toggleEventsMenu();selectLink('events', false)" matRipple >
          <mat-icon>{{ isEventsMenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          <i class="fas fa-calendar-plus menu-icon"></i> Events
        </a>
        <ul class="submenu" [class.open]="isEventsMenuOpen">
          <!-- <li [class.active]="selectedLink === 'newEvent'" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
          [matRippleCentered]="true">
            <a routerLink="newEvent" routerLinkActive="active-link" (click)="selectLink('newEvent', false)" >
              <i class="fas fa-calendar-plus menu-icon"></i> Create Event
            </a>
          </li> -->
          <li [class.active]="selectedLink === 'allEvents'" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
          [matRippleCentered]="true">
            <a routerLink="events" routerLinkActive="active-link" (click)="selectLink('allEvents', false)" >
              <i class="fas fa-list menu-icon"></i> All Events
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="admin-header ">
      <h2 class="dashboard-title">
        <span class="dashboard-text">DASHBOARD</span>
        <div class="user-menu">
          
          <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
            <img src="group35.jpg" alt="User" class="profile-pic" />
            <span class="user-name"> {{ userName }}</span>
            <span><mat-icon class="dropdown-icon ">arrow_drop_down</mat-icon></span>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="viewProfile()" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
            [matRippleCentered]="true"><mat-icon>brightness_high</mat-icon> Profile</button>
            <button mat-menu-item (click)="logout()" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.5)'"
            [matRippleCentered]="true"><mat-icon>settings_power</mat-icon> Logout</button>
          </mat-menu>
        </div>
      </h2>
    </div>
    
    <div class="content-area">

      <div *ngIf="selectedLink === 'home'">
        <div class="report-section" style="background-color: white;border: 7px;border-color: green;border-style: double;">
          <br><br>
          <h1 >Event details and volunteer assignments</h1>
          <br><br>
          <div class="report-format-selection">
            <label>
              <input type="radio" name="reportFormat" [(ngModel)]="selectedFormat" value="csv" /> CSV
            </label>
            <label>
              <input type="radio" name="reportFormat" [(ngModel)]="selectedFormat" value="pdf" /> PDF
            </label>
            <button 
              mat-raised-button 
              [class.csv-selected]="selectedFormat === 'csv'" 
              [class.pdf-selected]="selectedFormat === 'pdf'" 
              (click)="downloadSelectedFormat()" 
              [disabled]="!selectedFormat"
            >
            <mat-icon>cloud_download</mat-icon> Download
            </button>
          </div>
          
          <br><br>
          <div class="graph-container">
            <canvas id="eventChart"></canvas>
          </div>
        </div>
      </div>
      
      <router-outlet></router-outlet>
    </div>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>

