::ng-deep .cdk-overlay-container {
  z-index: 1055 !important; 
}

.modal-body {
  overflow: visible !important;
  position: relative; 
}

::ng-deep .mat-select-panel {
  z-index: 1056 !important; 
}

h2 {
  text-align: center;
  color: black;
  font-weight: bolder;
}

table {
  background-color: white;
}

thead th {
  color: white;
  background-color: black;
}

.custom-pagination ::ng-deep .page-link {
  border-radius: 50px; 
  color: #007bff; 
}

.custom-pagination ::ng-deep .page-item.active .page-link {
  background-color: #007bff;
  color: white; 
  border-radius: 50px; 
}

.custom-pagination ::ng-deep .page-link:hover {
  background-color: #0056b3; 
  color: white; 
  border-radius: 50px; 
}

label {
  color: black;
}
.labelWhite{
  color: white;
}

::ng-deep .custom-overlay-panel {
  z-index: 1050 !important; 
}

div{
  background: linear-gradient(90deg, rgba(40, 180, 131, 0.8),rgba(68, 68, 117, 0.8));

}
.button-spacing {
  margin-left: 10px; 
}
.buttonAdd{
  display:inline-block;
  padding: 0.65rem 1.35rem;
  font-size: 1rem;
  text-align: center;
  cursor:pointer;
  border:none;
  background: linear-gradient(180deg, rgba(1, 1, 15, 0.8),rgba(40, 180, 131, 0.8),rgba(1, 1, 15, 0.8));
  color: white;
}
.buttonAdd:hover{
  background-color: gray;
}
.buttonAdd:hover .icon{
  transform: translate(4px);

}
.icon{
  display: inline-block;
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.buttonAddE{
  display:inline-block;
  padding: 0.65rem 1.35rem;
  font-size: 1rem;
  text-align: center;
  cursor:pointer;
  border:none;
  background: linear-gradient(90deg, rgba(68, 68, 117, 0.8),rgba(40, 180, 131, 0.8));
  color: white;
}
.buttonAddE:hover{
  background-color: gray;
}
.buttonAddE:hover .icon{
  transform: translate(4px);

}
.icon{
  display: inline-block;
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.buttonAddC{
  display:inline-block;
  padding: 0.65rem 1.35rem;
  font-size: 1rem;
  text-align: center;
  cursor:pointer;
  border:none;
  box-shadow:black;
 
  color: white;
}
.buttonAddC:hover{
  background-color: gray;
}

/* Apply to the button to affect both button and icon when hovering */
.icon-button:hover mat-icon {
  transform: scale(1.2); 
  color: gray; 
  transition: transform 0.3s ease, color 0.3s ease; 
}

/* Apply hover directly to the icon */
.hover-effect:hover {
  transform: scale(1.2);
  color: gray; 
  transition: transform 0.3s ease, color 0.3s ease; 
}
