<div class="main-content p-3">
    <h2>Admin Dashboard</h2>
    <p>All Users</p>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col" class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>John Doe</td>
          <td>example.com</td>
          <td>Admin</td>
          <td>
            <button type="button" class="btn btn-link" data-bs-toggle="popover" data-bs-trigger="hover" title="Edit" data-bs-content="Edit">
              <i class="bi bi-pencil"></i>
            </button>
            <button type="button" class="btn btn-link" data-bs-toggle="popover" data-bs-trigger="hover" title="Delete" data-bs-content="Delete">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jonathan Smith</td>
          <td>example.com</td>
          <td>User</td>
          <td>
            <button type="button" class="btn btn-link" data-bs-toggle="popover" data-bs-trigger="hover" title="Edit" data-bs-content="Edit">
              <i class="bi bi-pencil"></i>
            </button>
            <button type="button" class="btn btn-link" data-bs-toggle="popover" data-bs-trigger="hover" title="Delete" data-bs-content="Delete">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>